@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto&display=swap');

* {
    font-family: 'Alata', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-color: white;
}

.home {
    background-image:url("https://i.imgur.com/B49z9NB.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#services {
    background-image:url("https://i.imgur.com/Tkqwou8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

#contacts {
    background-image:url("https://i.imgur.com/WsNXxg6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

#contact {
    color: white;
}

::placeholder {
    color: white;
}

.home p {
    color: white;
}

.row {
    margin-left: 70px;
}

#row1 {
    justify-items: center;
    display: flex;
    margin: 10px;
    height: 270px;
}
#row2 {
    justify-items: center;
    display: flex;
    margin: 10px;
    height: 270px;
}
#row3 {
    justify-items: center;
    display: flex;
    margin: 10px;
    height: 270px;
}
#row4 {
    justify-items: center;
    display: flex;
    height: 270px;
    margin: 10px;
}
#row5 {
    justify-items: center;
    display: flex;
    height: 270px;
    margin: 10px;
}
#row7 {
    justify-items: center;
    display: flex;
    height: 270px;
    margin: 10px;
}
#row8 {
    justify-items: center;
    display: flex;
    height: 270px;
    margin: 10px;
}
#row6 {
    justify-items: center;
    display: flex;
    height: 270px;
    margin: 10px;
}

#row:hover{
    size: 150%;
}

p {
    justify-content: center;
    align-items: center;
}

#socials {
    margin-top: 30px;
    align-items: center;
}

#p1-hide {
    display: none;
}

#p2-hide {
    display: none;
}

#p3-hide {
    display: none;
}

#logo {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%)
}

#logos {
    top: 130%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%)
}

button {         
    background-color: rgba(0,0,0,0.5);
}

#hide-1 {
    display: none;
    color: white;
    position: absolute;
}

.row {
    text-align: center;

}

#hide-2 {
    display: none;
    position: absolute;
    color: white;
}

#hide-1 {
    display: none;
    color: white;
    position: absolute;
    
}

#hide-3 {
    display: none;
    color: white;
    position: absolute;
}

#hide-4 {
    display: none;
    color: white;
    position: absolute;
}

#hide-5 {
    display: none;
    color: white;
    position: absolute;
}

#hide-6 {
    display: none;
    color: white;
    position: absolute;
}

#hide-7 {
    display: none;
    color: white;
    position: absolute;
}

#hide-8 {
    display: none;
    color: white;
    position: absolute;
}